.container-cta {
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 100px 0;
}

.container-cta h2 {
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
    font-weight: 600;
    line-height: 2rem;
}

.container-cta span {
    color: #BB5A3A;
}

.container-cta hr {
    margin-top: 50px;
    border-color: #53535371;
    width: 70%;
}

.container-posts a>button, .container-cta a>button  {
    display: flex;
    margin: auto;
    background-color: #BB5A3A;
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-family: var(--font-poppins);
    cursor: pointer;
    box-shadow: inset 0px -5px 1px #913213;
}

.container-posts a>button:hover, .container-cta a>button:hover {
    transition: all 0.2s;
    box-shadow: inset 0px -3px 1px #913213;
}