.container-sobre-posts {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*Post*/
.container-posts {
    width: 40%;
    margin-bottom: 50px;
}

.postagem {
    display: flex;
    flex-direction: row;
    max-height: 300px;
    width: 100%;
    margin: 0 auto 40px;
    border: none;
}

.img-postagem {
    max-width: 40%;
    overflow: hidden;
}

.img-postagem img {
    height: 100%;
}

.text-postagem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--color-black);
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.text-postagem:hover {
    border-color: #BB5A3A;
}

.text-postagem:hover h2, .text-postagem:hover p {
    color: #BB5A3A;
}

.text-postagem p {
    -webkit-line-clamp: 3 !important;
}

/*Sobre*/
.container-sobre {
    width: 30%;
}

.sobre {
    width: 100%;
    padding: 15%;
    background-color: #EBD6CC4D;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    color: var(--color-black);
}

.sobre h2 {
    border-bottom: 1px solid currentColor;
    padding-bottom: 20px;
}

.sobre img {
    width: 100%;
    border: 1px solid currentColor;
}

.sobre h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
}

.sobre p {
    -webkit-line-clamp: 4 !important;
}

.sobre a {
    color: #BB5A3A;
    text-decoration: underline;
    font-weight: 500;
}

.follow-sobre {
    padding: 40px;
    color: var(--color-white);
    aspect-ratio: 1;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 2rem;
    background-color: #BB5A3A;
}

.follow-sobre p {
    line-height: 3rem;
}

.sociais-follow-sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px solid var(--color-white);
    padding-top: 30px;
}

.sociais-follow-sobre i {
    cursor: pointer;
}