@import url('./notfound.css');
@import url('./content.css');
@import url('./recommended.css');
@import url('./comment.css');

html {
    background-color: var(--color-white);
}

main {
    padding-top: 103px;
    color: var(--color-black);
}

header {
    color: var(--color-black);
}