@import url(info.css);
@import url(comentarios.css);

html {
    background: var(--color-white);
}

header {
    color: var(--color-black);
}

main {
    padding-top: 100px;
    width: 60%;
    margin: auto;
}