header {
    position: absolute;
    width: 100%;
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-white);
}

.logo-header img {
    height: 98px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: 1.1rem;
}

.user-header i {
    font-size: 2rem;
}